In [2]:
import requests
import os
import pandas as pd

In [3]:
openweathermap_api_key = "8aa9225c5c2b6bfa6519474cf42233f9"

city_query = "stockholm, se"

url = f'http://api.openweathermap.org/data/2.5/weather?q={city_query}&appid={openweathermap_api_key}&units=metric'
response = requests.get(url).json()

response_df = pd.json_normalize(response)

In [4]:
response_df

,weather,base,visibility,dt,timezone,id,name,cod,coord.lon,coord.lat,...,main.pressure,main.humidity,wind.speed,wind.deg,clouds.all,sys.type,sys.id,sys.country,sys.sunrise,sys.sunset
0,"[{'id': 802, 'main': 'Clouds', 'description': ...",stations,10000,1682509719,7200,2673730,Stockholm,200,18.0649,59.3326,...,1000,60,6.17,260,40,1,1788,SE,1682478201,1682533654

In [5]:
response_df.columns

Index(['weather', 'base', 'visibility', 'dt', 'timezone', 'id', 'name', 'cod',
       'coord.lon', 'coord.lat', 'main.temp', 'main.feels_like',
       'main.temp_min', 'main.temp_max', 'main.pressure', 'main.humidity',
       'wind.speed', 'wind.deg', 'clouds.all', 'sys.type', 'sys.id',
       'sys.country', 'sys.sunrise', 'sys.sunset'],
      dtype='object')

In [6]:
weather_data = response_df["weather"]

In [7]:
weather_data

0    [{'id': 802, 'main': 'Clouds', 'description': ...
Name: weather, dtype: object

In [9]:
weather_data.values

array([list([{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03d'}])],
      dtype=object)